version: '3.8'
services:
  dev-db:
    image: postgres:15
    restart: always
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: sts_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: